header, footer, nav {
	display: block;
}

body {
	background-color: #fff;
	margin: 0px;
	height: 100%;
}

nav {
	text-align: right;
}

nav li {
	
	display: inline;
	position: relative;
	margin-right: 15px;

}

li a {
	text-decoration: none;
	font-weight: bold;
}

li a:hover {
	color: #333;
}

#content {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.se .se-input {
	width: 40%;
	height: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
	vertical-align: middle;
}

.se-link {
	width: 100%;
}

/* class foot belum fix */

.foot .left {
	width: 45%;
	position: relative;
	float: left;
}

.foot .right {
	width: 45%;
	position: relative;
	float: right;
}

.foot .left li {
	display: inline;
	margin-right: 35px;
}

.foot .right li {
	display: inline;
	margin-right: 35px;
	position: relative;
	float: right;
}
