header, footer, nav, #content {
	display: block;
}

body {
	background-color: #fff;
	margin: 0px;
	height: 100%;
}

nav {
	text-align: right;
}

nav li {
	display: inline-block;
	position: relative;
	margin-right: 15px;
}

li a {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	opacity: 0.75;
	color: rgb(0,0,0);
}

li a:hover {
	color: #333;
	text-decoration: underline;
}

#content {
	width: 100%;
	margin-top: 150px;
	text-align: center;
}

.se {
	height: 100%;
	margin: 0 auto;
}

.se .se-input {
	width: 40%;
	height: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
}

#logo {
	-webkit-background-size: 272px 92px;
	background-size: 272px 92px;
	width: 272px;
	height: 92px;
	background-image: url("../img/glogo.png");
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
}

.se-input {
	line-height: 2.5em;
	border: solid 1px rgba(0,0,0,.1);
}

.se-act {
	line-height: 3em;
	font-family: arial;
}

.se-act button {
	border: solid 1px rgba(0,0,0,.1);
	padding: 10px 16px 10px 16px;
	background-color: #f4f4f4;
	font-weight: bold;
	color: #757575;
}

.se-act button:hover {
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#EEEEEE));
	color: #000;
	border: 1px solid #c6c6c6;

}

#lang {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

#lang a {
	text-decoration: none;
	color: #1a0dab;
}

#lang a:hover{
	text-decoration: underline;
}

.se-link {
	width: 100%;
}

.foot {
	width: 100%;
	height: 50px;
	background-color: #F2F2F2;
	border-top: solid 1px rgba(0,0,0,.1);
	position: absolute;
	bottom: 0;
}

.foot ul li {
	list-style-type: none;
}

.foot .left {
	width: 45%;
	position: relative;
	float: left;
}

.foot .right {
	width: 45%;
	position: relative;
	float: right;
	text-align: right;
}

.foot .left li {
	display: inline;
	margin-right: 35px;
}

.foot .right li {
	display: inline-block;
	margin-right: 35px;
}
