header, footer, nav {
	display: block;
}

body {
	background-color: #fff;
	margin: 0px;
	height: 100%;
}

nav li {
	display: inline;
	position: relative;
	right
	/*alight right*/
	margin-right: 15px;
}
